.github_search{
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 1rem 0.5rem;
  border: 4px solid #CCC;
  outline: none;
  border-radius: 10px;
}

.github_search:focus{
  border: 4px solid #71ECDE;
}

.repolist{
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.repoitem{
  display: block;
  border: 4px solid rgba(196, 154, 63, 0.466);
  border-radius: 5px;
  margin: 6px;
  padding: 2rem;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
